.top-container {
  padding-bottom: 100px;
}

.title {
  margin-top: 150px;
}

.intro-text {
  margin-top: 50px;
}

.middle-container {
  padding: 30px;
}

.simon {
  width: 60%;
  margin: auto;
}

.simon-button-div {
  background-color: white;
  border: 5px solid black;
  border-radius: 30px;
  padding: 5px;
  position: relative;
  display: inline-block;
  font-size: 0;
  margin-top: 10px;

}

.simon-button {
  background-color: red;
  border: 5px solid black;
  border-radius: 25px;
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  margin: 0;
}

.simon-button:hover {
  opacity: 50%;
  border: 5px solid white;
}

.simon-text {
}
