.top-container {
  padding-bottom: 100px;
}

.title {
  margin-top: 150px;
}

.intro-text {
  margin-top: 50px;
}

.middle-container-1 {
  padding: 30px;
  background-color: #ccedd2;
}

.project {
  width: 60%;
  margin: auto;
}
.title {
  margin: 30px;
}

.simon-button-div {
  background-color: white;
  border: 5px solid black;
  border-radius: 30px;
  padding: 5px;
  position: relative;
  display: inline-block;
  font-size: 0;
  margin-top: 10px;

}

.simon-button {
  background-color: red;
  border: 5px solid black;
  border-radius: 25px;
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  margin: 0;
}

.simon-button:hover {
  opacity: 50%;
  border: 5px solid white;
}

.middle-container-2 {
  background-color: #94d3ac;
  margin: 0;
  padding-top: 10px;
}
.portfolio-image {
  border: 5px solid black;
  border-radius: 30px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 50px;
}
.portfolio-image:hover {
  border-color: white;
}
