body {
  background-color: grey;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40412E;
}

h1 {
  margin-top: 10px;
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  color: #66BFBF;
}

h2 {
  margin-top: 0;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #66BFBF;
  line-height: 1rem;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  color: #66BFBF;
  line-height: 1rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #459F9F;
}

hr {
  margin: 0;
  border-style: solid;
}

p {
  -margin-bottom: 0;
}

img {
  margin: 0;
}

.top-container {
  background-color: #f1f9f9;
  padding: 0;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: relative;
  left: 300px;
  bottom: 50px
}

.mountain-div {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.bottom-cloud {
  position: absolute;
  right: 400px;
  top: 20px
}

.mountain-image {
  position: relative;
  top: 20px;
  width: 500px;

}

.profile {
  background-color: #effcef;
  padding: 30px;
}

.skills {
  background-color: #ccedd2;
  padding: 30px;
}

.skill-title {
  background-color: #ccedd2;
  margin-bottom: 0;
  color: #55AFAF;
}

.computer-image {
  width: 25%;
  float: left;
  margin-right: 20px
}

.chilli-image {
  width: 25%;
  float: right;
  margin-left: 20px
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  line-height: 2rem;
  text-align: left;
}

.contact-me {
  background-color: #94d3ac;
  padding: 30px;
}

.contact-title {
  color: #458F8F
}

.contact-button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 20px;
  width: 120px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  padding-top: 14px;
  background-color: #655C56;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  box-shadow: 1px 1px 5px 0 #000000;
  -text-shadow: 1px 1px 3px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-button:hover {
  background: #91847B;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.bottom-container {
  background-color: #6a8caf;
  padding: 20px;
}

.footer-link {
  color: darkorange;
  text-shadow: 1px, 1px, 8px, black;
  text-decoration: none;
}
