body {
  background-color: grey;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40412E;
}

h1 {
  font-size: 4rem;
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
}

h2, h3 {
  font-family: "Merriweather", serif;
  margin: 2rem;
  font-size: 1.5rem;
  color: #66BFBF;
  line-height: 1rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #459F9F;
}

hr {
  margin: 0;
  border-style: solid;
}

p {
  -margin-bottom: 0;
}

img {
  margin: 0;
}

.top-container {
  background-color: #f1f9f9;
  padding: 0;
  /* padding-top: 100px; */
  position: relative;
}

.navbar {
  z-index: 1;
}

.italic {
  font-style: italic;
}



.middle-container {
  background-color: #ccedd2;
}



.bottom-container {
  background-color: #6a8caf;
  padding: 20px;
}

.footer-link {
  color: darkorange;
  text-shadow: 1px, 1px, 8px, black;
  text-decoration: none;
}
