body {
  overflow-y: scroll;
}

.middle-container {
  margin-top: 3rem;
  position: relative;
  display: flex;
  padding: 0;
  /* margin-bottom: 30px; */
}
.text-section {
  display: inline-block;
  width: 50vw;
  flex-direction: column;
  padding: 0 5%;
  text-align: left;

}
.subtitle {
  text-align: center;
}
.text {
  text-align: left;
  line-height: 1.6rem;
  font-size: 0.9rem;
  font-weight: 400;
}
.image {
  width: 100%;
  height: 720px;
  object-fit: cover;
  text-align: right;
  margin-top: 2rem;
}
.link-div {
  padding-top: 1rem;
}
.link {
  /* letter-spacing: 0.05rem; */
  font-size: 1.1rem;
  color: black;
}
.link:hover {
  color: gray;
}
