body {
  overflow-y: scroll;
  padding-bottom: 4rem;
}

.middle-container {
  padding: 0 10%;
  padding-top: 0;
  text-align: left;
}
.subtitle {
  text-align: center;
  font-size: 2rem;
}
.section-div {
  padding-bottom: 4rem;
}
.section-title {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-transform:none;
  font-size: 1.5rem;
  letter-spacing: normal;
  /* font-weight: 600; */
}
.cv-text {
 font-weight: 400;
 font-size: 1.1rem;
 line-height: 2.2rem;
}
