.middle-container {
  padding: 3rem 5%;
  text-align: left;
  max-width: 100vw;
  overflow: hidden;
}
.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.picture-div {
  display: block;
  height: 400px;
  margin: 0;
  margin-bottom: 50px;
}
.picture-image {
  width: 700px;
  height: 400px;
  object-fit: cover;
}
.margin {
  margin-bottom: 6rem;
}
