html, body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  display: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  background-image: url("../images/2020/sterner.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  padding-top: 23%;
}

.main-title {
  font-size: 3.6rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1em;
  line-height: 4rem;
  margin: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.button {
  color: white;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 1rem;
}
.button:hover {
  text-decoration: underline;
  color:gray;
}
