

.middle-container {
 margin: auto;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-column {
    width: 30vw;
    flex-direction: column;
    padding: 15px;

}
.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  color: darkgray;
}
.portfolio-image {
  width: 30vw;
  height: 400px;
  object-fit: cover;

}
.slide-left {
  object-position: right;
}
.slide-centered {
  object-position: center;
}
.slide-right {
  object-position: left;
}
.portfolio-text {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
