
body {
  overflow-y: scroll;
}
.middle-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}
.painting-title {
  margin-top: 3rem;
}
.image {
  margin-top: 1rem;
  width: 50%;
}
.text {
  max-width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
